{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.bonede/tree-sitter {:mvn/version "0.24.5"}
        io.github.bonede/tree-sitter-clojure {:mvn/version "0.0.12a"}
        io.github.bonede/tree-sitter-json {:mvn/version "0.23.0"}
        io.github.bonede/tree-sitter-markdown {:mvn/version "0.7.1a"}
        io.github.IGJoshua/ropes {:git/sha "de6efb90dbabb290878ca498919ce40646f6811b"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        org.clojars.quoll/tiara {:mvn/version "0.3.7"}
        clope/clope {:mvn/version "1"}
        io.lacuna/bifurcan {:git/url "https://github.com/phronmophobic/bifurcan"
                            :git/sha "c389a712269d9f89af66dc1f759559744f58ff6a"}

        dev.weavejester/cljfmt {:mvn/version "0.13.1"}

        com.ibm.icu/icu4j {:mvn/version "68.1"}
        com.ibm.icu/icu4j-charset {:mvn/version "68.1"}
        com.ibm.icu/icu4j-localespi {:mvn/version "68.1"}
        }
 :aliases
 {:project
  {:extra-deps {virgil/virgil {:mvn/version "0.4.0"}}}}}
